doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title rz3

        link(rel="stylesheet", href="./assets/conscientstyle/css/conscientstyle-light.min.css")
    body
        h1 Hi Everyone
    footer
        script(src='./assets/conscientstyle/js/conscientstyle.min.js')