doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title rz3

        link(rel="stylesheet", href="./assets/conscientstyle/css/conscientstyle-light.min.css")
        link(rel="stylesheet", href="./assets/fontawesome/css/fontawesome.min.css")
        link(rel="stylesheet", href="./assets/site.css")
    body
        section.section-one
            .section-inside
                text.title
                    b.cs-text-cyan.dark-rounded-bg &nbsp;Rz3&nbsp;
                    span &nbsp;Sistemas
                p.subtitle.cs-text-cyan
                    b soluções em software

        section.section-two
            .section-inside
                .row
                    .col.text-white.text-center
                        .circle
                            i.far.fa-address-card.fa-6x
                        h1 Websites
                    .col.text-white.text-center
                        .circle
                            i.fas.fa-mobile-alt.fa-6x
                        h1 Mobile Apps

                    .col.text-white.text-center
                        .circle
                            i.fas.fa-hands-helping.fa-6x
                        h1 Outsourcing

    footer
        script(src='./assets/conscientstyle/js/conscientstyle.min.js')