doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Rz3 Sistemas :: Em Construção

        link(rel="stylesheet", href="./assets/conscientstyle/css/conscientstyle-light.min.css")
        link(rel="stylesheet", href="./assets/fontawesome/css/fontawesome.min.css")
        link(rel="stylesheet", href="./assets/site.css")

        script(src='./assets/conscientstyle/js/conscientstyle.min.js')

    body
        section.section-one
            .section-inside
                text.title
                    b.cs-text-cyan.dark-rounded-bg &nbsp;Rz3&nbsp;
                    span &nbsp;Sistemas
                p.subtitle.cs-text-cyan
                    b soluções em software
                h1 &nbsp;
                h1 &nbsp;
                h1 &nbsp;

        section.section-two
            .section-inside
                .row
                    .col.text-white.text-center
                        .circle
                            i.far.fa-address-card.fa-6x
                        h1 Websites
                    .col.text-white.text-center
                        .circle
                            i.fas.fa-mobile-alt.fa-6x
                        h1 Mobile Apps

                    .col.text-white.text-center
                        .circle
                            i.fas.fa-hands-helping.fa-6x
                        h1 Outsourcing
        
        .partners
            br
            .subtitle.text-center
                b Clientes & Parceiros
            br
            br
            .row
                .col
                    br
                    | &nbsp;
                    img(src="./assets/imgs/partners/tce_logo.png" height="40px")
                .col
                    img(src="./assets/imgs/partners/ergovitalis_logo.png" height="80px")
                .col
                    p
                    img(src="./assets/imgs/partners/pontox_logo.png" height="65px")
                .col
                    img(src="./assets/imgs/partners/paulinho_logo.png" height="90px")
                .col
                    p
                    img(src="./assets/imgs/partners/ibi_logo.png" height="70px")

        section
            br
            b.title.cs-text-cyan Contato
            br
            br
            .row
                .col
                .col
                    form
                        .form-group
                            input.form-control(type="email" placeholder="Informe seu email")
                        .form-group
                            textarea.form-control(placeholder="Escreva-nos um email e assim que possível entraremos em contato" rows="5")
                        .form-group
                            button.btn.btn-outline-success Enviar email
                .col    
            br

    footer
        .row
            .col
                i.far.fa-envelope.fa-2x
                b &nbsp;&nbsp;contato@rz3.com.br
                span &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                b (67) 99162-2503 &nbsp;
                i.fab.fa-whatsapp.fa-2x

        br
        h5 © 2020. All rights reserved -
            b &nbsp;Rz3 Sistemas